<section id="main" class="column">
    <article class="module width_full">
        <form action="/admin/user/updatepwd" method="post">
            <header><h3>修改密码</h3></header>
            <div class="module_content">
                <fieldset>
                    <label>当前密码</label>
                    <input type="password" name="old_pwd" value="">
                </fieldset>
                <fieldset>
                    <label>新密码</label>
                    <input type="password" name="new_pwd" value="">
                </fieldset>
                <fieldset>
                    <label>重复输入新密码</label>
                    <input type="password" name="re_new_pwd" value="">
                </fieldset>
                <div class="clear"></div>
            </div>
            <footer>
                <div class="submit_link">
                    <input type="submit" value="Publish" class="alt_btn">
                    <input type="submit" value="Reset">
                </div>
            </footer>
        </form>
    </article>
    <div class="spacer"></div>
</section>
