<section id="main" class="column">
    <article class="module width_full">
        <form action="/admin/category/save" method="post">
            <header><h3>新增用户</h3></header>
            <div class="module_content">
                <fieldset>
                    <label>用户名</label>
                    <input type="text" name="title" value="">
                </fieldset>
                <fieldset>
                    <label>密码</label>
                    <input type="text" name="title" value="">
                </fieldset>
                <fieldset>
                    <label>昵称</label>
                    <input type="text" name="title" value="">
                </fieldset>
                <fieldset>
                    <label>邮箱</label>
                    <input type="text" name="title" value="">
                </fieldset>
                <div class="clear"></div>
            </div>
            <footer>
                <div class="submit_link">
                    <input type="submit" value="Publish" class="alt_btn">
                    <input type="submit" value="Reset">
                </div>
            </footer>
        </form>
    </article>
    <div class="spacer"></div>
</section>
